
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution Manager </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />*@
    <script src="https://use.fontawesome.com/f72947d947.js"></script>
    @*<link rel="stylesheet" href="~/Content/jquery-ui.css" />*@
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
   
    <div>
        <header>
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

                <a class="navbar-brand" href="/Agendamento">Agendamentos</a>
                <a class="navbar-brand" href="/Paciente">Pacientes</a>
                <a class="navbar-brand" href="/Medico">Medicos</a>
                <a class="navbar-brand" href="/Componente">Componentes</a>
                <a class="navbar-brand" href="/Funcionario">Funcionarios</a>
                <a class="navbar-brand" href="/Atendimento">Relatorios</a>
                <form class="form-inline my-2 my-lg-0 float-right"></form>
                <i class="fa fa-user fa-lg fa-fw"></i>
                <a class="navbar-brand" href="~/Login/Sair">Sair</a>
            </nav>
        </header>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>


        <div class="maring0">

            <div id="conteudo">
                <div class="background-full"></div>
                @RenderBody()
            </div>

            <hr />
            <div class="footer">

                <footer>
                    <p>&copy; @DateTime.Now.Year - Solução  Manager Doctor System</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
